/*
Theme Name: Christines_rockin_theme
Description: Child theme based on Twenty Thirteen 
Author: Analytical Engine Interactive Inc.
Version: 1.0
Template: twentythirteen
*/


@import url('../twentythirteen/style.css');

